In [9]:
# open dataframe.pkl from C:\Users\leona\OneDrive\Documents\GitHub\complexity_72h\Dataset\dataframe.pkl

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [ ]:
# directory is one folder back
df = pd.read_pickle('../Dataset/dataframe.pkl')

In [13]:
with open(r"../Dataset/dataframe.pkl", 'rb') as fp:
    df=pickle.load(fp)

In [14]:
df.head()

     Time        Simplices
0  1987.0            [1.0]
1  2007.0            [2.0]
2  2011.0       [4.0, 3.0]
3  1998.0            [5.0]
4  1985.0  [7.0, 8.0, 6.0]